.clover {
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url('../img/clover.png');
  background-size: cover;
  top: 15%;
  left: 80%;
}
.clover2 {
  position: absolute;
  width: 200px;
  height: 200px;
  background-image: url('../img/clover2.png');
  background-size: cover;
  top: 25%;
  left: 10%;
}
.clover3 {
  position: fixed;
  width: 400px;
  height: 400px;
  background-image: url('../img/clover3.png');
  background-size: cover;
  bottom: 0;
  right: 0;
}

@media (min-width: 560px) and (max-width: 919px) {
  .block-text__title {
    font-size: 1.3rem;
  }
  .main-title {
    font-size: 2rem;
  }
  .clover3 {
    position: fixed;
    width: 150px;
    height: 150px;
    bottom: 0;
    right: 0;
  }
}

@media (min-width: 920px) {
  .block-text__item {
    font-size: 1.3em;
  }
  .main-title {
    font-size: 3rem;
    font-weight: 1300;
  }
  .clover3 {
    width: 400px;
    height: 400px;
  }
}
@media (min-width: 920px) and (max-width: 1400px) {
  .clover3 {
    width: 200px;
    height: 200px;
  }
}
.main-title {
  color: var(--text-color);
  font-family: 'Manrope', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 90%;
  padding: 2rem;
  padding-top: 0;
  text-align: center;
  z-index: -1;
}
.svg-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.svg-block-title {
  color: #b4d21c;
}
.svg-block__modification {
  display: flex;
  position: relative;
}
.block-text {
  display: grid;
  margin: 2% 0 3% 0;
}
.block-text__title {
  grid-column: 2;
}
@media (max-width: 35em) {
  .block-text__item {
    font-size: 0.7em;
  }
  .block-text__title {
    font-size: 1em;
  }
  .clover {
    position: absolute;
    width: 150px;
    height: 150px;

    top: 15%;
    left: 53%;
    z-index: 1;
  }
  .clover2 {
    position: absolute;
    width: 0;
    height: 0;

    top: 25%;
    left: 10%;
  }
  .clover3 {
    position: fixed;
    width: 0;

    bottom: 0;
    right: 0;
  }
}
.block-text__link {
  color: black;
  text-decoration: underline;
}
.block-text__list {
  grid-area: 2 / 2 / auto / auto;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  text-align: center;
}

.pagination {
  margin-top: 10px;
}

.pagination button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #45a049;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.content {
  font-size: 20px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 799px) {
  svg {
    width: 320px;
    height: 541px;
  }

  .modal-content {
    margin: auto;
    padding: 20px;
    max-width: 400px;
    overflow: hidden;
    word-wrap: break-word;
  }
  .content {
    font-size: 14px;
  }
  .svg-block__modification {
    flex-direction: column-reverse;
  }
}

@media (min-width: 800px) and (max-width: 999px) {
  svg {
    width: 481px;
    height: 812px;
  }

  .modal-content {
    margin: 40% auto;
    padding: 20px;
    max-width: 400px;
    overflow: hidden;
    word-wrap: break-word;
  }
  .content {
    font-size: 16px;
  }
}

@media (min-width: 1000px) and (max-width: 1399px) {
  svg {
    width: 481px;
    height: 812px;
  }
}

@media (min-width: 1400px) {
  svg {
    width: 962px;
    height: 1624px;
  }
}
